<section>
    <!-- <div class="title">
        <h1>✨A Glimpse of Some Project We've Nailed !</h1>
    </div>    -->
    <!-- <app-portfolio-projects></app-portfolio-projects> -->
    
    
  </section>
  <div class="heading">
    <h1 class="chip">Our Portfolio</h1>
  </div>
  
  <section class="section-">
  
  <div class="project">

        <!-- project info -->
        <div class="project-section-1">
          <!-- title -->
            <div class="project-title-container">
              <h1 class="project-title">
                <span class="">Taskie</span>
              </h1>
              <!-- <div class="seperator"></div> -->
              <h1 class="project-subtitle">
                <!-- <span class="project-chip">Errands - Tracker</span> -->
                <span class="project-chip">Errands Tracking App</span>
              </h1>
            </div>
            <!-- info -->
            <div class="project-info-container">
                <p class="project-info">
                    Random Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Esse voluptatem molestiae dolorem ut soluta earum?                     Random Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Esse voluptatem. Esse voluptatem Esse voluptatem. 
                    Esse voluptatem. 
                </p>
                <span class="info-btn">Read More..</span>
            </div>
            <!-- chips -->
            <div class="project-category-container">
              <span class="project-category">#App</span>
              <span class="project-category">#Productivity</span>
              <span class="project-category">#UI/UX</span>
              <span class="project-category">#DesignLovers</span>
            </div>

            <!-- navigation btns -->

            <div class="project-nav-container">
              <div class="navigation-btns">
                <div class="btn left">
                  See Prev. ←
                  <!-- <img src="" alt="" class=""> -->
                  </div>
                  <!-- <div class="btn paginate right">
                    →
                    <img src="" alt="" class="">
                  </div> -->
              </div>
              </div>

            </div>


        <!-- project Image/Video -->
        <div class="project-section-2">

            <div class="project-demo-container">
                <img class="project-demo-item" src="../../../assets/featured/taskie.png">
            </div>

        </div>

        <!-- Categpry & other -->
        <div class="project-section-3">

            <!-- User -->
            <!-- <div class="container">

                <div class="row">
                  <ul>
                    <li>
                      <a href="#" class="avatar" title="Eliška Hutníková">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4848/team-members-eliska-hutnikova.png">
                      </a>
                    </li>
                    <li>
                      <a href="#" class="avatar" title="José Rilla">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4848/team-members-jose-rilla.png">
                      </a>
                    </li>
                    <li>
                      <a href="#" class="avatar" title="David Saenz">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4848/team-members-david-saenz.png">
                      </a>
                    </li>
                    <li>
                      <a href="#" class="avatar" title="Diego Fernández">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4848/team-members-diego-fernandez.png">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="project-category-container">
                <span class="project-category">#App</span>
                <span class="project-category">#UI/UX</span>
                <span class="project-category">#Productivity</span>
              </div> -->


                <!-- navigation btns -->

            <div class="project-nav-container">
              <div class="navigation-btns">
                  <div class="btn right">
                    See What Else We've Got! →
                    <!-- <img src="" alt="" class=""> -->
                  </div>
              </div>
              </div>
        </div>

  </div>
    
</section>