// Theme colors
$primary-energetic-purple: #5D43EF;
$secondary-shell-white-: #E6E2E5;
$turnary-romantic-voilet: #A684D3;
$background-fierce-dark: #1E1D24;

// Font colors
$font-color:$secondary-shell-white-