@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,600;0,700;1,600&family=Playfair+Display:ital,wght@0,400;1,600&family=Roboto:wght@100&display=swap');

// Thin
@font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/Recoleta/Recoleta-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


// Regular
@font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/Recoleta/Recoleta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


// Light
@font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/Recoleta/Recoleta-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

//Recoleta Medium
@font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/Recoleta/Recoleta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


//Bold
@font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/Recoleta/Recoleta-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/Recoleta/Recoleta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



// Black
@font-face {
    font-family: 'Recoleta';
    src: url('../assets/fonts/Recoleta/Recoleta-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
