
// Logo text
$logo-font-desktop:2rem;
$logo-font-tab:1.5rem;
$logo-font-mobile:1.3rem;


// nav fonts
// $standard-text:1rem;
// $font-Heading: 23px ;

// hero
$desktop-Hero-section-title-font-size: 7.5rem ;
$mobile-Hero-section-title-font-size: 3.85rem ;
// $mobile-Hero-section-title-font-size: 62px ;

// hero substitle
$desktop-Hero-section-subtitle-font-size: 3.62rem ;
$mobile-Hero-section-subtitle-font-size: 1.3rem ;

// services, and other title
$desktop-section-title-font-size: 5rem ;
$desktop-section-subtitle-font-size: 1.875rem ;

$mobile-title-section-font-size: 30px ;

//items in section like service card title
$desktop-items-title-font-size: 28px ;
$mobile-items-title-font-size:1.62rem;
 
//items like service card paragraph text
$desktop-items-paragrapgh-font-size: 1rem ;
$mobile-items-paragrapgh-font-size: 0.85rem ;

// paragrapgh text prominent
$desktop-portfolio-paragraph-section-font-size: 40px ;
$mobile-portfolio-paragraph-section-font-size: 12px ;

// project title
$desktop-project-title-font-size: 60px ;
$mobile-project-title-font-size: 30px ;

// project industry / substitle
$desktop-project-subtitle-font-size: 30px ;
$mobile-project-subtitle-font-size: 16px ;

// project paragrapgh
$desktop-project-paragraph-font-size: 28px ;
$mobile-project-paragraph-font-size: 12px ;

// services chip size
$mobile-services-chip-font-size: 10px ;

// view more btns
$desktop-btns-font-size: 18px ;
$mobile-btns-font-size: 14px ;

$desktop-form-chip-font-size: 16px ;