
// Logo text
$logo-font-desktop:2rem;
$logo-font-tab:1.5rem;
$logo-font-mobile:1.3rem;


// nav fonts
// $standard-text:1rem;
// $font-Heading: 23px ;

// hero
$desktop-Hero-section-title-font-size: 150px ;
$mobile-Hero-section-title-font-size: 62px ;

// hero substitle
$desktop-Hero-section-subtitle-font-size: 28px ;
$mobile-Hero-section-subtitle-font-size: 14px ;

// services, and other title
$desktop-title-section-font-size: 80px ;
$mobile-title-section-font-size: 30px ;

//items in section like service card title
$desktop-items-title-font-size: 28px ;
$mobile-items-title-font-size:1.62rem;

// paragrapgh text prominent
$desktop-portfolio-paragraph-section-font-size: 40px ;
$mobile-portfolio-paragraph-section-font-size: 12px ;

// project title
$desktop-project-title-font-size: 60px ;
$mobile-project-title-font-size: 30px ;

// project industry / substitle
$desktop-project-subtitle-font-size: 30px ;
$mobile-project-subtitle-font-size: 16px ;

// project paragrapgh
$desktop-project-paragraph-font-size: 28px ;
$mobile-project-paragraph-font-size: 12px ;

// services chip size
$mobile-services-chip-font-size: 10px ;

// view more btns
$desktop-btns-font-size: 18px ;
$mobile-btns-font-size: 14px ;

$desktop-form-chip-font-size: 16px ;