
// Logo text
$logo-font-desktop:2rem;
$logo-font-tab:1.5rem;
$logo-font-mobile:1.3rem;


// nav fonts
$standard-text:1rem;
// CTA
// $Font-getInTouch
// Hero title
// hero sub title
// hero marqure text
// section title
$font-Heading:"23px";