@use "../../../abstract/index" as *;

section{
    background-color: $background-fierce-dark;
}

.footer-container{
    display: flex;
    color: white;
    // flex-direction: column;
    padding: 6.813rem 9rem 0rem 9rem;
    justify-content: space-between;
    gap: 4.5rem;
    
    .footer-columns{
        flex-direction: column;
        
        &:nth-child(3){
            // background: red;
            min-width: 220px;
        }
        &:nth-child(4){
            // background: red;
            min-width: 220px;
        }
        
        .company-container{
            flex-direction: column;
            width: 70%;

            .company-title {
                font-family: "Lato";
                font-size: 2.5rem;
                font-weight: bold;
            }
            
            .company-subtitle{
                font-size: 1rem;
                font-family: "Lato";
                font-weight: normal;
                opacity: 0.4;
                line-height: 23.3px;
            }
        }
        
        .section-title{
            font-family: "Lato";
            font-size: 1.375rem;
            font-weight: normal;
            line-height: 36px;
        }
        
        .section-options{
            font-family: "Lato";
            list-style: none;

            .section-option-item{
                text-decoration: none;
                color: white;

                h3{
                    font-weight: normal;
                    font-size: 0.875;
                    line-height: 23.3px;
                    opacity: 0.4;
                }
            }
        }
    }
}

.socials-container{
    display: flex;
    color:white;
    padding: 3.5rem 0 0 0;
    justify-content: center;
    gap: 7.5rem;
    .social-items{
        font-family: "Recoleta";
        font-size: 1.375rem;
        line-height: 36px;
    }
}

.section-breaker{
    display: flex;    
    border-bottom: 1px solid grey;
    border-bottom-style:ridge;
    width: 70%;
    opacity: 0.3;
    margin: 2rem auto 0 auto;

}

.business-container{
    
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0;
    font-family: "Lato";
    gap: 3.5rem;
    color: white;
    justify-content: center;
    align-items: center;
    

    .business-details{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 9.25rem;

        .business-item{
            display: flex;
            flex-direction: column;
            .tag{
                font-size: 1rem;
                line-height: 22px;
            }

            .tag-details{
                font-size: 1.738rem;
                line-height: 2.75rem;

            }
        }

    }

    .copyright-detais{
        align-items: center;
        font-size: 0.873rem;
        line-height: 23.3px;
        opacity: 0.5;
    }
}