<section>
<div class="footer-container">
    <div class="footer-columns">
        <div class="company-container">
            <div class="company-title"><h1>Ghamiz</h1></div>
            <div class="company-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti harum ipsam excepturi!</div>
        </div>
    </div>

    <div class="footer-columns">
        <h1 class="section-title">Navigation</h1>
        <ul class="section-options">
               <li> <a href="" class="section-option-item"> <h3>Home</h3> </a> </li>
               <li> <a href="" class="section-option-item"> <h3>About</h3> </a></li>
               <li> <a href="" class="section-option-item"> <h3>Contact Us</h3> </a></li>
               <li> <a href="" class="section-option-item"> <h3>Projects</h3> </a></li>
               <li> <a href="" class="section-option-item"> <h3>Case Studies</h3> </a></li>
        </ul>
    </div>
    <div class="footer-columns">
        <h1 class="section-title">Services</h1>
        <ul class="section-options">
            <li> <a href="" class="section-option-item"><h3>UX UI</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Creative Design</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Motion Design</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>App & Web Development</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Digital Content Marketing</h3></a></li>
        </ul>
    </div>
    <div class="footer-columns">
        <h1 class="section-title">Free Resources</h1>
        <ul class="section-options">
            <li> <a href="" class="section-option-item"><h3>LinkedIn Carousel Generator</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Instagram Post Generator</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Lead Hunter</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Twitter Thread Maker</h3></a></li>
        </ul>
    </div>
</div>

<!-- Socials -->

<div class="socials-container">
    <div class="social-items">Linkedin</div>
    <div class="social-items">Instagram</div>
    <div class="social-items">Behance</div>
    <div class="social-items">Facebook</div>
    <div class="social-items">Dribbble</div>
</div>

<span class="section-breaker"></span>

<!-- rights -->
<div class="business-container">
    <div class="business-details">
    <div class="business-item">
        <span class="tag">new business</span>
        <span class="tag-details">business@ghamiz.co</span>

    </div>
    <div class="business-item">
        <span class="tag">careers</span>
        <span class="tag-details">careers@ghamiz.co</span>
    </div>
        
    </div>
    <div class="copyright-details">Copyright 2023 © Ghamiz LLC</div>
</div>


</section>