<section>
<div class="footer-container">
    <div class="footer-columns">
        <div class="company-container">
            <div class="company-title"><h1>Ghamiz</h1></div>
            <div class="company-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti harum ipsam excepturi!</div>
        </div>
    </div>

    <div class="footer-columns">
        <h1 class="section-title">Naivigation</h1>
        <ul class="section-options">
               <li> <a href="" class="section-option-item"> <h3>Home</h3> </a> </li>
               <li> <a href="" class="section-option-item"> <h3>About</h3> </a></li>
               <li> <a href="" class="section-option-item"> <h3>Contact Us</h3> </a></li>
               <li> <a href="" class="section-option-item"> <h3>Projects</h3> </a></li>
               <li> <a href="" class="section-option-item"> <h3>Case Studies</h3> </a></li>
        </ul>
    </div>
    <div class="footer-columns">
        <h1 class="section-title">Services</h1>
        <ul class="section-options">
            <li> <a href="" class="section-option-item"><h3>UX UI</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Creative Design</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Motion Design</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>App & Web Development</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Digital Content Marketing</h3></a></li>
        </ul>
    </div>
    <div class="footer-columns">
        <h1 class="section-title">Tools /Case Studies</h1>
        <ul class="section-options">
            <li> <a href="" class="section-option-item"><h3>LinkedIn Carousel Generator</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Instagram Post Generator</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Lead Hunter</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>Twitter Thread Maker</h3></a></li>
            <li> <a href="" class="section-option-item"><h3>View All</h3></a></li>
        </ul>
    </div>
</div>

<!-- rights -->
<div class="copyright-container">
    <div class="copyright-details"> Copyrights 2023®  </div>
    <div class="copyright-details"> Email: business@ghamiz.com</div>
</div>
</section>