<section>
    <div class="banner-container">
        <div class="banner">

            <div class="quote" >
                <img src="../../../assets/images/qutationMark.svg" alt="QutationICon"/>
            </div>
            
            <div class="mission-section">
                <h1 class="title">Our Mission</h1>
                
                
                <div class="mission-statement">
                    <p>We believe that great design should not be out of reach, so our services are less than half the price of a full-time designer.We believe that great design should not be out of reach, so our services are less than half the price of a full-time designer.We believe that great design should not be out of reach, so our services are less than half the price of a full-time designer.</p>
                </div>
                
                <div class="mission-author">
                    <h1>Waleed J.</h1>
                    <h2>CEO Founder, GHAMIZ</h2>
                </div>
            </div>

        </div>
    </div>
</section>