<section>
    <div class="service-container">
        <app-service-card 
            logo="../../../assets/images/logoAndBrandingServiceIcon.svg" 
            title="Logo &amp; Branding"
            description="Represents your identity into visual appearance including logo, guidelines and it’s application to several products mockups">
        </app-service-card>
        
        <app-service-card 
            logo="../../../assets/images/uiUxDesignServiceIcon.svg" 
            title="UIUX Design"
            description="Creating an aesthetics and usable interfaces design which includes mobile apps design, web-app design and website design.">
        </app-service-card>
        
        <app-service-card 
            logo="../../../assets/images/developmentServiceIcon.svg" 
            title="Development"
            description="We’re ready to apply the design that we’ve made into front-end development by our talented and experts human resource">
        </app-service-card>
        
        <app-service-card 
            logo="../../../assets/images/illustrationServiceIcon.svg" 
            title="Illustration"
            description="Our talented illustrator will help you to make a high–quality both 2d and 3d Illsutration based on clients’ needs and brief">
        </app-service-card>
        
        <app-service-card 
            logo="../../../assets/images/digitalMarketingServiceIcon.svg" 
            title="Digital Marketing"
            description="Creating interactive products and services by moving beyond the item to know how users will operate the interfaces design that we’ve made">
        </app-service-card>

        <app-service-card 
            logo="../../../assets/images/animationServiceIcon.svg" 
            title="Animation"
            description="Our talented illustrator will help you to make a high–quality both 2d and 3d Illsutration based on clients’ needs and brief">
        </app-service-card>
    </div>
</section>