@use "../../../abstract/index" as *;

.scroller {
  max-width: 100vw;
}

.scroller__inner {
  background-color: $shell-white;
  color: $background-fierce-dark;
  padding: 15px 0;
  font-weight: 500;
  font-size: 28px;
  font-family: "Lato";
  text-transform: uppercase;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.marquee__star {
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1.5;
}

.marquee__project {
  margin: 0 0.3rem;
  padding: 0.2rem 0.5rem;
  border: 3px solid black;
  border-radius: 25px;
}



.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 0.5%, white 99.5%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-animated="true"] .scroller__inner div.marquee__star {
  width: max-content;
  flex-wrap: nowrap;
  animation: star 2.3s var(--_animation-direction, forwards) ease-in-out infinite;
}


// dynamics variables
.scroller[data-direction="right"] { --_animation-direction: reverse; }
.scroller[data-direction="left"]  { --_animation-direction: forwards; }
.scroller[data-speed="fast"] { --_animation-duration: 20s; }
.scroller[data-speed="slow"] { --_animation-duration: 60s; }


// animation
@keyframes scroll {
  to { transform: translate(calc(-50% - 0.5rem)); }
}

@keyframes star {
  from { transform: rotateX(-40deg) rotateY(10deg); }
  to { transform:rotateX(40deg)  rotateY(360deg); }
}


// for devices smaller then 768 slow down the speed
@media (max-width: $md) {
  .scroller[data-speed="slow"] { --_animation-duration: 120s; }
}