<section class="desktop" >
    <div class="card-item">
        <div class="logo-container">
            <img src="{{logo}}" alt="{{logo}}" />
        </div>
        <div class="title-container"><h1>{{title}}</h1></div>
        <div class="description-container"><p>{{description}}</p></div>
        <!-- <div class="chips">{{chipItems}}</div> -->
    </div>
</section>

<!-- Mobile version -->
<section  class="mobile">

    <div class="card-item-mobile">
        <div class="logo-container-mobile">
            <img src="{{logo}}" alt="{{logo}}" />
        </div>
        <div class="card-row-mobile">
            
            <div class="title-container-mobile">
                <h1>{{title}}</h1>
            </div>
            
            <div class="description-container-mobile">
                <p>{{description}}</p>
                <div class="chip-item">UI / UX</div>
                <div class="chip-item">Brand Strategy</div>
                <div class="chip-item">UI / UX</div>
                <div class="chip-item">Social Media</div>
                <div class="chip-item">Brand Strategy</div>
                <div class="chip-item">Marketing Asssets</div>
            </div>
        </div>
    </div>

</section>