<!-- Navigation -->
<section>
    <app-navigation-menu></app-navigation-menu>
</section>

<!-- Hero Section -->
<section>
    <div class="hero-container">
        <img class="hero-grid"  src="../../../assets/images/columnerGrid.svg" alt="grid-columns">
        <div class="title-container">
            <h1>We Make Apps,<br> Websites <br class="mobile-only" > &amp; Brands</h1>
            <h2>
                <span class="long-dash"></span>
                Creating cool experiences is our thing!
            </h2>
        </div>
    </div>
</section>

<!-- Marquee -->
<section class="ticker-container">
    <app-ticker-marquee></app-ticker-marquee>
</section>

<!-- Services -->
<section class="services-container spacer-bottom" >
    <section class="services-title-container spacer-top">
        <h1>Our Services</h1>
        <h2>
            <span class="long-dash"></span>
            We provide end-to-end solutions
        </h2>
    </section>
    
    <section class="spacer-top">
        <app-agency-services></app-agency-services>
    </section>
</section>

<!--portfolio bnanner  -->
<section>
 <app-banner showProjects="true" projects="3" showAwards="true" awards="2"></app-banner>
</section>
<!-- Portfolio section -->
<section>
    <app-portfolio></app-portfolio>
</section>
<!-- Marquee -->
<section class="ticker-container">
    <app-ticker-marquee-light></app-ticker-marquee-light>
</section>

<!-- mission statement -->
<section>
<app-mission-statement></app-mission-statement>
</section>
<!-- testimonials -->

<!-- CTA section -->

<!-- footer -->
<section>
    <app-footer-navigations></app-footer-navigations>
</section>