<!-- Navigation -->
<section>
    <app-navigation-menu></app-navigation-menu>
</section>

<!-- Hero Section -->
<section class="hero-container">
    <div class="title-container">
        <h1>We Make Apps,<br> Websites &amp; Brands</h1>
        <h2>
            <span class="long-dash"></span>
            Our thing is creating cool experiences for startups and tech companies.
        </h2>
        
        <!-- Marquee -->
        <section>
            <app-ticker-marquee></app-ticker-marquee>
        </section>
    </div>

</section>
