<!-- Navigation -->
<section>
    <app-navigation-menu></app-navigation-menu>
</section>

<!-- Hero Section -->
<section>
    <div class="hero-container">

        <img class="hero-grid"  src="../../../assets/images/columnerGrid.svg" alt="grid-columns">
        <div class="title-container">
            <h1>We Make Apps,<br> Websites &amp; Brands</h1>
            <h2>
                <span class="long-dash"></span>
                Our thing is creating cool experiences for startups &amp; tech companies
            </h2>
        </div>
    </div>
</section>

<!-- Marquee -->
<section>
    <app-ticker-marquee></app-ticker-marquee>
</section>