@use "../../../abstract/index" as *;

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $font-color;
    background: $background-fierce-dark;
    font-family: "Recoleta";
    overflow: hidden;
}

.hero-grid{
    background:url(https://grainy-gradients.vercel.app/noise.svg);
    filter: contrast(170%);
    position: absolute;
    top: -40px;
    left: 0;
    width: 100vw;
    height: auto;
    opacity:0.17;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5.5rem 0;
    z-index: 999;
    h1{
        font-weight: 400;
        // font-size: 4.5rem;
        font-size: 7.5rem;
        line-height: 7.5rem;
    }

    h2{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:1rem;
        margin: 32px 0;
        font-size: 1.68rem;
        font-weight: 300;
        line-height: 28px;
        font-family: "Lato";
        color: $light-purple;
    }

    .long-dash{
        align-items: center;
        border-radius: 2px;
        width: 36px;
        height: 5px;
        margin-top: 5px;
        background: $light-purple;       
    }
        
}

.ticker-container{
    padding: 2rem 0;
    background: $background-fierce-dark;
}

.spacer-top{
    margin: 7rem 0 0 0;
}

.spacer-bottom{
    margin: 0 0 7rem 0;
}


// services styles
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.services-title-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    h1{
        margin: 0;
        font-size: 4.5rem;
        font-weight: 400;
    }

    h2{
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 80px;
        gap:1rem;
        font-size: 1.8rem;
        font-weight: 500;
        font-family: "Lato";
    }

    .long-dash{
        align-items: center;
        border-radius: 2px;
        width: 36px;
        height: 5px;
        margin-top: 5px;
        background: $background-fierce-dark;       
    }

}


// Responsive xsm:320

@media (max-width: $xsm) {

    .hero-grid{ display: none;}

    .title-container {
        padding: 1rem ;
        text-align: center;
    
        h1{
            font-size: 2.5rem;
            line-height: 1;
        }
    
        h2{
            margin-top: 6px;
            font-size: 1rem;
            font-weight: 300;
            font-family: "Lato";
            .long-dash{
                display: none;       
            }
        }
            
    }
}

// min 320 to max 480
@media (min-width: $xsm) and (max-width:$sm){

    .hero-grid{ display: none;}

    
    .title-container {
        padding: 1rem ;
        text-align: center;
        h1{
            font-size: 2.5rem;
            line-height: 1;

        }
    
        h2{
            margin-top: 6px;
            font-size: 1rem;
            font-weight: 300;
            font-family: "Lato";
            .long-dash{
                display: none;       
            }
        }
            
    }

}

