@use "../../../abstract/index" as *;

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $font-color;
    font-family: "Recoleta";
    overflow: hidden;
    background: $background-fierce-dark;
    // position: relative;
}

.hero-grid{
    position: absolute;
    top: -40px;
    left: 0;
    width: 100vw;
    height: auto;
    opacity:0.3;
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}

.title-container {
    display: flex;
    padding: 3rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        font-size: 4.5rem;
        line-height: 102px;
    }

    h2{
        display: flex;
        align-items: center;
        gap:0.5rem;
        margin-top: -36px;
        font-size: 1.68rem;
        font-weight: 300;
        line-height: 28px;
        font-family: "Lato";
        color: $light-purple;
        .long-dash{
            display: block;
            border-radius: 2px;
            width: 46px;
            height: 2px;
            background: $light-purple;       
        }
    }
        
}



// Responsive xsm:320

@media (max-width: $xsm) {

    .hero-grid{ display: none;}

    .title-container {
        padding: 1rem ;
        text-align: center;
    
        h1{
            font-size: 2.5rem;
            line-height: 1;
        }
    
        h2{
            margin-top: 6px;
            font-size: 1rem;
            font-weight: 300;
            font-family: "Lato";
            .long-dash{
                display: none;       
            }
        }
            
    }
}

// min 320 to max 480
@media (min-width: $xsm) and (max-width:$sm){

    .hero-grid{ display: none;}

    
    .title-container {
        padding: 1rem ;
        text-align: center;
        h1{
            font-size: 2.5rem;
            line-height: 1;

        }
    
        h2{
            margin-top: 6px;
            font-size: 1rem;
            font-weight: 300;
            font-family: "Lato";
            .long-dash{
                display: none;       
            }
        }
            
    }

}

