<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="logo-container">
        <span class="logo">Ghamiz</span>
    </div>

    <nav>
        <ul id="primary-navigation" class="primary-navigation flex">
            <li>
                <a aria-label="Services" target="_blank" rel="noopener" href="#" title="Our Services">
                    <span>Services</span>
                </a>
            </li>
            <li>
                <a aria-label="Work" target="_blank" rel="noopener" href="#" title="Our Work">
                    <span>Work</span>
                </a>
            </li>
            <li>
                <a aria-label="About" target="_blank" rel="noopener" href="#" title="About-Us">
                    <span>About</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <div class="action-btn-container" >
        <a aria-label="About" target="_blank" rel="noopener" href="#" title="About-Us">
            <span class="action-call">
                Get In Touch
            </span>
        </a>
    </div>
    
    
  
</div>