<!-- Toolbar -->
<section class="toolbar-container">

    <!-- <div class="toolbar"> -->


    <div class="logo-container">
        <span class="logo">Ghamiz</span>
    </div>

    <nav>
        <ul class="primary-navigation active">
            <li>
                <a aria-label="Services" target="_blank" rel="noopener" href="#" title="Our Services">
                    <span>Services</span>
                </a>
            </li>
            <li>
                <a aria-label="Work" target="_blank" rel="noopener" href="#" title="Our Work">
                    <span>Work</span>
                </a>
            </li>
            <li>
                <a aria-label="About" target="_blank" rel="noopener" href="#" title="About-Us">
                    <span>About</span>
                </a>
            </li>
            <!-- <li (click)="showSidebar()">
                <a href="#"><svg viewBox="0 0 100 80" width="40" height="40"><rect width="100" height="20" rx="10"></rect><rect y="30" width="100" height="20" rx="10"></rect><rect y="60" width="100" height="20" rx="10"></rect></svg></a>
            </li> -->
        </ul>
        
        <!-- sidebar -->
        <ul class="sidebar">
            <li (click)="hideSidebar()">
                <a href="#">
                    x
                    <!-- <svg viewPort="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="11"  x2="11" y2="1" stroke="black" stroke-width="2"/><line x1="1" y1="1" x2="11" y2="11" stroke="black" stroke-width="2"/></svg> -->
                </a>
            </li>
            <li>
                <a aria-label="Services" target="_blank" rel="noopener" href="#" title="Our Services">
                    <span>Services</span>
                </a>
            </li>
            <li>
                <a aria-label="Work" target="_blank" rel="noopener" href="#" title="Our Work">
                    <span>Work</span>
                </a>
            </li>
            <li>
                <a aria-label="About" target="_blank" rel="noopener" href="#" title="About-Us">
                    <span>About</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <div class="action-btn-container" >
        <a aria-label="Contact US" target="_blank" rel="noopener" href="#" title="Contact">
            <span class="action-btn">
                Get In Touch
            </span>
        </a>
    </div>
<!-- </div> -->
</section>