@use "../../../abstract/index" as *;

.toolbar-container {
    display: flex;
    font-family: "Montserrat", sans-serif;
    background-color: $background-fierce-dark;
    align-items: center;
    padding: 2rem 0 0 0;
    justify-content: space-between;
    color: $font-color;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 0 7rem;
    z-index: 100;
    
    &:hover{
        cursor: pointer;
        color: $light-purple;
    }
    .logo{
        font-weight: bold;
        font-size: $logo-font-desktop;
        text-transform: uppercase;
    }
}


nav{
    display: flex;
    z-index: 999;
    // background-color: white;
    // box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.1);

    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            height: 2.5rem;

            a{
                background: none;
                display: flex;
                height: 100%;
                margin: 0 2rem;
                text-decoration: none;
                align-items: center;
                color:$secondary-white;
                
            }:hover{
                cursor: pointer;
                color: $light-purple;
                transition: 0.3s ease-in-out;
            }
        }
    }

    .sidebar{
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        z-index: 999;
        background-color: rgba($color: #000000, $alpha: 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0px 10px rgba($color: #000000, $alpha: 0.1);
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li,a{
            width: 100%;
        }
    }
}

.active{
    display: block;
}

.action-btn-container{
    display: flex;
    align-items:center;
    justify-content: center;

    background: transparent;
    border: 1px solid $font-color;
    padding: 11px 23px;
    border-radius: 25px;
    margin: 0 7rem 0 0;
    z-index: 999;
    
    a{
        text-decoration: none;
        color: $font-color;
    }

    // btn hover properties
    &:hover{
        background-color: $light-purple;   
        transition: 0.3s ease-in-out;
        
        a{
            color: $background-fierce-dark;
            transition: 0.4s ease-in-out;
        }
    }
}





// Mobile responsiveness
@media (max-width: 900px ) {
    .toolbar {
        justify-content: center;
    }

    .logo-container{
        margin: 0;
        .logo{
            font-size: max($logo-font-mobile , $logo-font-tab);
        }
    }
    
    .action-btn-container,
    .primary-navigation{
        display: none;
    }
    
}

// Mobile responsiveness
@media (max-width: 35em ) {
    .logo{
        font-size: min($logo-font-mobile , $logo-font-tab);
    }

    .action-btn-container,
    .primary-navigation{
        display: none;
    }
    
}