<section>
    <div class="banner-container">
        <div class="banner">
            <div class="banner-left-side">
                <h1>Our Portfolio</h1>
                <div class="portfolio-stats">
                    <p class="stats"><span>{{projects}}</span> Completed Projects</p>
                    <p class="stats"><span>{{awards}}</span> Awards &amp; Features</p>
                </div>
            </div>
            <div class="banner-right-side">
                <p>
                    We've crushed it on lots of projects, and we've got the receipts to prove it in our big portfolio of case studies.
                </p>
            </div>
        </div>
    </div>
</section>
