<section>
    <div class="project-container">
        
        <!-- project 01 -->
        <div class="project">
            <div class="project-demo">
                <img src="../../../assets/images/developmentServiceIcon.svg" alt="Demo" />
            </div>
            <div class="project-stats-container">
                <div class="project-stats">
                    <h1 class="project-title">Almkl</h1>
                    <h2 class="project-subtitle">Emlaak</h2>
                    <p class="project-details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis molestias reprehenderit accusantium temporibus cumque. Dolores nobis nisi incidunt molestias esse illum provident veritatis voluptatum. Dolorum labore nam magnam veritatis? Perspiciatis ullam, fugit qui unde quaerat dolorum laborum magnam et soluta inventore quisquam laboriosam quasi vero doloribus voluptas labore aspernatur?</p>
                    <div class="project-btn">
                        <a href="#">
                            <span>View </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>