<!-- <section>

    <div class="title">
        <h1>✨A Glimpse of Some Project We've Nailed !</h1>
    </div>

    <div class="project-container">
        <div class="project">
            <div class="project-demo-container">
                <img class="project-demo" src="../../../assets/featured/atheris.png" alt="Demo" />
            </div>
            <div class="project-stats-container">
                <div class="project-stats">
                    <h1 class="project-title">Atheris</h1>
                    <h2 class="project-subtitle">Pharmaceutical</h2>
                    <p class="project-details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis molestias reprehenderit accusantium temporibus cumque. Dolores nobis nisi incidunt molestias esse illum provident veritatis voluptatum. Dolorum labore nam magnam veritatis? Perspiciatis ullam, fugit qui unde quaerat dolorum laborum magnam et soluta inventore quisquam laboriosam quasi vero doloribus voluptas labore aspernatur?</p>
                    <div class="project-btn">
                        <a href="#">
                            <span>View</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-container">
        <div class="project">
            <div class="project-demo-container order-2">
                <img class="project-demo" src="../../../assets/featured/project2.jpg" alt="Demo" />
            </div>
            <div class="project-stats-container order-1">
                <div class="project-stats">
                    <h1 class="project-title">Madzrati</h1>
                    <h2 class="project-subtitle">Architecture</h2>
                    <p class="project-details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis molestias reprehenderit accusantium temporibus cumque. Dolores nobis nisi incidunt molestias esse illum provident veritatis voluptatum. Dolorum labore nam magnam veritatis? Perspiciatis ullam, fugit qui unde quaerat dolorum laborum magnam et soluta inventore quisquam laboriosam quasi vero doloribus voluptas labore aspernatur?</p>
                    <div class="project-btn">
                        <a href="#">
                            <span>View </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->



<!-- dynamic -->

<section>
    <!-- contain all projects -->
    <div class="project-gallery">

        
        <!-- contain all images -->
        <div class="projects-images-container">
            <img class="project-demo" src="../../../assets/featured/project2.jpg" alt="ProjectImage">
            <img class="project-demo" src="../../../assets/featured/atheris.png" alt="ProjectImage">
            <img class="project-demo" src="../../../assets/featured/project2.jpg" alt="ProjectImage">
            <img class="project-demo" src="../../../assets/featured/project3.jpg" alt="ProjectImage">
        </div>
        

        <div class="projects">
            
            <!-- project item -->
            <div class="project-item">
                <div class="project-stats">
                    <h1 class="project-title">Madzrati</h1>
                    <h2 class="project-subtitle">Architecture</h2>
                    <p class="project-details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis molestias reprehenderit accusantium temporibus cumque. Dolores nobis nisi incidunt molestias esse illum provident veritatis voluptatum. Dolorum labore nam magnam veritatis? Perspiciatis ullam, fugit qui unde quaerat dolorum laborum magnam et soluta inventore quisquam laboriosam quasi vero doloribus voluptas labore aspernatur?</p>
                    <div class="project-btn">
                        <a href="#">
                            <span>View </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- project item -->
            <div class="project-item">
                <div class="project-stats">
                    <h1 class="project-title">Madzrati</h1>
                    <h2 class="project-subtitle">Architecture</h2>
                    <p class="project-details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis molestias reprehenderit accusantium temporibus cumque. Dolores nobis nisi incidunt molestias esse illum provident veritatis voluptatum. Dolorum labore nam magnam veritatis? Perspiciatis ullam, fugit qui unde quaerat dolorum laborum magnam et soluta inventore quisquam laboriosam quasi vero doloribus voluptas labore aspernatur?</p>
                    <div class="project-btn">
                        <a href="#">
                            <span>View </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- project item -->
            <div class="project-item">
                <div class="project-stats">
                    <h1 class="project-title">Madzrati</h1>
                    <h2 class="project-subtitle">Architecture</h2>
                    <p class="project-details">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis molestias reprehenderit accusantium temporibus cumque. Dolores nobis nisi incidunt molestias esse illum provident veritatis voluptatum. Dolorum labore nam magnam veritatis? Perspiciatis ullam, fugit qui unde quaerat dolorum laborum magnam et soluta inventore quisquam laboriosam quasi vero doloribus voluptas labore aspernatur?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis molestias reprehenderit accusantium temporibus cumque. Dolores nobis nisi incidunt molestias esse illum provident veritatis voluptatum. Dolorum labore nam magnam veritatis? Perspiciatis ullam, fugit qui unde quaerat dolorum laborum magnam et soluta inventore quisquam laboriosam quasi vero doloribus voluptas labore aspernatur?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis molestias reprehenderit accusantium temporibus cumque. Dolores nobis nisi incidunt molestias esse illum provident veritatis voluptatum. Dolorum labore nam magnam veritatis? Perspiciatis ullam, fugit qui unde quaerat dolorum laborum magnam et soluta inventore quisquam laboriosam quasi vero doloribus voluptas labore aspernatur?
                    </p>
                    <div class="project-btn">
                        <a href="#">
                            <span>View </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- project item -->
            <div class="project-item">
                <div class="project-stats">
                    <h1 class="project-title">Madzrati</h1>
                    <h2 class="project-subtitle">Architecture</h2>
                    <p class="project-details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis molestias reprehenderit accusantium temporibus cumque. Dolores nobis nisi incidunt molestias esse illum provident veritatis voluptatum. Dolorum labore nam magnam veritatis? Perspiciatis ullam, fugit qui unde quaerat dolorum laborum magnam et soluta inventore quisquam laboriosam quasi vero doloribus voluptas labore aspernatur?</p>
                    <div class="project-btn">
                        <a href="#">
                            <span>View </span>
                        </a>
                    </div>
                </div>
            </div>


        </div>


    </div>

 </section>