@use "../../../abstract/index" as *;


section{
    background: $background-fierce-dark;
    padding: 0 0 7rem 0;
    
    .project-gallery{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: rgb(0, 0, 0);
    
        .projects{
            display: flex;
            // align-items: center;
            // justify-content: center;
            flex-direction: column;
            width: 50%;
            // background: gold;
            
            .project-item{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                // background: red;
                
                .project-stats{
                    height: 40vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin: 2rem 2rem 2rem 4rem;
                    // background: green;
                    gap: 1.2rem;
                    color: $shell-white;
                        
                    .project-title{
                        font-family: "Recoleta";
                        font-size: 3rem;
                        font-weight: 400;
                        // text-shadow: black 1px 2px 10px;
                    }
            
                    .project-subtitle{
                        font-family: "Recoleta";
                        font-weight: 400;
                        font-style: normal;
                        line-height: 120%;
                        font-size: 1.5rem;
                        opacity: 0.8;
                    }
            
                    .project-details{
                        display: flex;
                        font-family: "Lato";
                        font-weight: 500;
                        font-size: 1.2rem;
                    }
                
                    .project-btn{
                        display: flex;
                        font-size: 1.2rem;
                        font-family: "Lato";
                        font-weight: 500;
                        margin: 1.2rem 0 0 0;
                        
                        a{
                            text-decoration: none;
                            
                            span{
                                background-color: $light-purple;
                                color: $shell-white;
                                font-weight: 600;
                                padding: 0.5rem 2rem;
                                border-radius: 28px;
                            }
                        }
                    }


                }
            }
        }

        .projects-images-container{
            width: 50vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            position: relative;
            // background: violet;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 16px;
            
            .project-demo{
                position: absolute;
                // margin: 2rem 0 0 0;
                border-radius: 16px;
                width: 40vw;
                height: 40vw;
            }
        }
    }
}














// //////////////////////////////////////////
// // test code

// // section{
   
// //     .project-container{
// //         display: flex;

// //         .project-stats-container{

// //             // display: flex;
// //             // flex-direction: column;
// //             width: 50%;
// //             margin: auto;
// //             .project-stats{
// //                 width: 80%;
// //                 padding: 5rem 12rem 17rem 2rem;
// //                 display: flex;
// //                 flex-direction: column;
// //             }
// //         }

// //         .project-demo-container{
// //             display: flex;
// //             position: relative;
// //             width: 40vw;
// //             height:40vw;
// //             margin: 5rem 7rem 0 0;
// //             border-radius: 16px;
// //             overflow: hidden;
// //             box-shadow:4px 4px 4px rgba(166, 132, 211, 0.66);
// //             .project-demo{
// //                 position: absolute;
// //             }
// //         }
// //     }
// // }


// // test code ends


// section{
//     background-color: $background-fierce-dark;
// }

// .project-container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
    
// }


// // .order-1{
// // order: 1;
// // }

// // .order-2{
// // order: 2;
// // }

// .project{
//     display: flex;
//     width: 100vw;
//     justify-content: space-between;

//     .project-demo-container{
//         // box-shadow: $light-purple 0px 2px 10px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         // background: $light-purple;
//         width: 50vw;

//         .project-demo{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             width: 50vw;
//             // width: 80vh;
//             margin: 1rem;
//             border-radius: 12px;
//             background: no-repeat;
//             object-fit: cover;
//         }
//     }
    
//     .project-stats-container{
//         display: flex;
//         flex-direction: column;
//         // flex: 0.5;
//         width: 50vw;;
//         padding:8rem 4rem;
//         align-items: center;
        
        
//         .project-stats{
//             display: flex;
//             justify-content: flex-start;
//             flex-direction: column;
//             gap: 1.2rem;
//             color: $shell-white;
            
//         .project-title{
//             font-family: "Recoleta";
//             font-size: 3rem;
//             font-weight: 400;
//             // text-shadow: black 1px 2px 10px;
//         }

//         .project-subtitle{
//             font-family: "Recoleta";
//             font-weight: 400;
//             font-style: normal;
//             line-height: 120%;
//             font-size: 1.5rem;
//             opacity: 0.8;
//         }

//         .project-details{
//             display: flex;
//             font-family: "Lato";
//             font-weight: 500;
//             font-size: 1.2rem;
//         }

//         .project-btn{
//             display: flex;
//             font-size: 1.2rem;
//             font-family: "Lato";
//             font-weight: 500;
//             margin: 1rem 0 0 0;
            
//             a{
//                 text-decoration: none;
                
//                 span{
//                     // box-shadow: black 1px 2px 5px;
//                     background-color: $light-purple;
//                     color: $shell-white;
//                     font-weight: 600;
//                     padding: 0.5rem 2rem;
//                     border-radius: 28px;
//                     border: 1px solid $shell-white;
//                 }
//             }
//         }

//     }
// }
// }