<section>
<div class="testimonial-title-container">
    <!-- <h1 class="testimonial-title">What others have to say</h1> -->
    <h1 class="testimonial-title">What others have to say</h1>
    <!-- <h2 class="testimonial-subtitle">We believe great design should be accessible</h2> -->
    <h2 class="testimonial-subtitle">Crafting Super Celestial Experiences For YOU...</h2>
</div>

<div class="testimonial-cards-container">

    <section class="testimonial-cards-carousel">
        <!-- card model -->
        <div class="testimonial-card">
            <div class="quote" >
                <img src="../../../assets/images/qutationMarkLight.svg" alt="QutationICon"/>
            </div>
            
            <div class="testimonial-container">
                <h3 class="card-title">Experience  Review</h3>
                <p class="card-testimony">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut nihil distinctio ut nam provident eveniet iure laboriosam quas atque quo.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut nihil distinctio ut nam provident eveniet iure laboriosam quas atque quo.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut nihil distinctio ut nam provident eveniet iure laboriosam quas atque quo.
                </p>
                
                <div class="card-stats">
                    <div class="card-testimony-provider">
                        <div class="user-image-outline">
                            <img src="../../../assets/featured/project2.jpg"/>
                        </div>
                        <div class="user-details">
                            <h2 class="user-title">Waleed javed</h2>
                            <h2 class="user-designation">Fonunder &amp; CEO</h2>
                        </div>
                    </div>
                    <div class="card-testimony-ratings">
                        <span>⭐⭐⭐⭐⭐</span> (5.0)
                    </div>
                </div>
            </div>

        </div>


       
    </section>

</div>

</section>