<section class="spacer">

  <div class="scroller" data-speed="fast">
    <ul class="tag-list scroller__inner">
      <div> Ghamiz Creative Studio</div>
      <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
      <div>Creativity &amp; Excellence Together</div>
      <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
      <div>Limited Time Offer <span class="marquee__project">-30% discount</span> on first Project</div>
      <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
      <div>Creativity and Excellence Together</div>
      <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
    </ul>
  </div>


  <!-- <div class="marquee-container light-purple">
    <div class="marquee__inner">

      <div class="marquee__part first">
        Ghamiz Creative Studio
        <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
        Creativity &amp; Excellence Together
        <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
  
        Limited Time Offer <span class="marquee__project">-30% discount</span> on first Project
        <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
        Creativity and Excellence Together
        <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
      </div>

      <div class="marquee__part second">
        Ghamiz Creative Studio
        <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
        Creativity &amp; Excellence Together
        <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
  
        Limited Time Offer <span class="marquee__project">-30% discount</span> on first Project
        <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
        Creativity and Excellence Together
        <div class="marquee__star"><img src="../../../assets/images/marqueeStar.svg" alt="star-shape" /></div>
      </div>

  </div>
  
</div> -->

</section>