@use "../../../abstract/index" as *;

.marquee-container{
  position: relative;
  background: $light-purple;
  color: $font-color;
  padding: 15px 0;
  font-weight: 500;
  font-size: 28px;
  font-family: "Lato";
  text-transform: uppercase;
  overflow: hidden;
}

.marquee__inner{
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.marquee__part{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}

.marquee__project{
  display: flex;
  margin: 0 0.3rem;
  padding: 0.2rem 0.5rem ;
  border: 3px solid black;
  border-radius: 25px;
}
.marquee__star{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 1rem;
}

// max 320
@media (max-width:$xsm) {
  .marquee-container{
    display: none;
  }
}

// min 320 to max 480
@media (min-width: $xsm) and (max-width:$sm){

.marquee-container{
  padding: 5px 0;
  font-size: 18px;
  font-family: "Lato";
  text-transform: uppercase;
}

.marquee__project{
  border: 2px solid rgba(0, 0, 0, 0.505);
}

}